[2019-08-13 13:27] Rohi145 opened #1 "Regarding LTI Oidc authentication and Deep Link"
Hello,

we have a few questions:
1. Are we necessary to have platform private key for JWT generation which then verified the signature with the public key? If yes then how to get it, that will verify the signature with JWK set?
Because you are taking the same private key for both(means for platform private key and tools private key)
2. How to get us deep link return URL of any LMS for LTI 1.3(Ex.B

[2019-08-13 14:28] dmitry-viskov commented on #1
@Rohi145 First of all - the current library is LTI implementation on the Tool side only (not Platform)
1.
Platform private key and tool private key - are different keys.

On the Tool side we just decode message without verification:
https://github.com/dmitry-viskov/pylti1.3/blob/1.0.0/pylti1p3/message_launch.py#L329
using public key that we get from the platform:
https://github.com/dmitry-viskov/p

[2019-08-19 10:55] Rohi145 commented on #1
@dmitry-viskov

Hi,

1. On the tool side, we just decode the message using the public key(i.e getting after app registration ex.https://github.com/dmitry-viskov/pylti1.3/blob/1.0.0/examples/configs/public.key). But before decode, we encode the message using some private key.
   So my question is that which private key is used to encode this message. Because tool private key is used for access toke

[2019-08-19 13:50] dmitry-viskov commented on #1
1.

This public.key is not used to decode messages from platform. We provide this key to the platform to decode tool messages. Public key to decode messages from platform usually is retrieved from the URL: https://github.com/dmitry-viskov/pylti1.3/blob/master/examples/configs/game.json#L6
or may be set as a constant:
https://github.com/dmitry-viskov/pylti1.3/blob/master/examples/configs/game.json#

[2019-08-20 06:47] Rohi145 commented on #1
@dmitry-viskov ,

1. We only need to know that, JWK URL that is getting from the platform is used to decode message which is encoded by Private key(not tool private key) for signature verification?
Here, we are trying to ask about the platform private key because we are using elab.
2. In Canvas, you also need a deep link return URL. How to get this one on canvas?

[2019-08-20 10:13] dmitry-viskov commented on #1
@Rohi145 your questions related to the implementation of some abstract platform. This project is particular Tool implementation. I may recommend you to find answers to your questions in the LTI 1.3 Spec: https://www.imsglobal.org/spec/lti/v1p3

[2019-08-20 10:13] #1 closed

[2019-08-22 19:10] ssilverm opened #2 "Deployment ID in JSON"
Heya,

First of all, thanks for making an awesome library!

I've been looking through the spec, and from our own usage, and I think deployment_id should be removed as a check in the JSON.  The deployment ID is sent back via the JWT already, and isn't part of the signing.  Having to go and check the deployment ID manually is going to be impossible for many vendors.

For example:  We make an LTI and

[2019-08-22 23:00] dmitry-viskov commented on #2
hi @ssilverm.

I agree with you that validation of `deployment_id` may look weird but seems that it is requirement of lti1.3 spec:
https://www.imsglobal.org/spec/lti/v1p3#lti-deployment-id-claim

I may suggest to avoid `deployment_id` validation with such workaround:

[code]

[2019-08-23 05:07] Rohi145 opened #3 "Regarding LTI 1.3 Canvas"
I have a doubt regarding LTI 1.3 in canvas as follows:
1. In LTI 1.1, we can identify valid instructor tool launch using consumer key and secret key. So, how to identify valid instructor launch in LTI 1.3?
2. Can we validate deep link request using oauth2 access token verification?

[2019-08-26 22:50] dmitry-viskov commented on #2
@ssilverm Probably you are right but also I think that this concept with `deployment_id` can be interpreted differently. Examples:
1. https://lti-ri.imsglobal.org/ - it is site is intended to test Platform <-> Tool communication. And here deployment_id is required parameter:

2. https://www.imsglobal.org/lti-certification-suite - Suite to check Platform/Tool implementation also provide deployment_

[2020-03-21 23:36] dmitry-viskov opened #11 "New StorageService to replace SessionService and cache POST/GET data in case if LTI run inside iframe"

[2020-03-21 23:39] dmitry-viskov opened #12 "JS check if cookies can be saved (in case of iframe usage) and ability to open login step in the new window/tab"

[2020-03-21 23:41] dmitry-viskov opened #13 "Test library with D2L (Brightspace)"

[2020-03-21 23:42] dmitry-viskov opened #14 "Testing library with Blackboard"

[2020-03-21 23:44] dmitry-viskov opened #15 "Add Flask example project"

[2020-03-21 23:46] dmitry-viskov opened #16 "Unit tests refactoring (remove code duplication for Flask and Django test cases)"

[2020-03-22 17:46] ssilverm commented on #15
I'm still working on this.  I'm still stuck at state not found (via cookies, its still in the request object).  HOpefully the newest changes fix that.

[2020-03-23 16:02] ssilverm opened #17 "Wiki JWT page update"
For Python 3
[code]

[2020-03-23 16:03] ssilverm commented on #17
Since I can't update wiki pages I've pasted in working code for getting the JWK

[2020-03-23 17:26] dmitry-viskov commented on #17
hi @ssilverm

i don't see any troubles with the current wiki instruction:

<img width="1599" alt="wiki" src="https://user-images.githubusercontent.com/1876893/77344158-d0b54b00-6d43-11ea-8c11-8f5be4fd4700.png">

Public key is a text file. There is no need to open it as binary.
In the nearest future I'll add method to generate JWT into the library.

[2020-03-23 17:40] dmitry-viskov commented on #15
hi @ssilverm .

I may assume that bug is fixed: https://github.com/dmitry-viskov/pylti1.3/commit/b7adfae6f56a8624390dff9fc7baef401f8ea506

Here is Flask usage example: https://github.com/dmitry-viskov/pylti1.3-flask-example
I've checked - It was working fine for my test cases.

[2020-03-24 01:33] ssilverm commented on #17
Yep, you are right.  Must've been in the wrong virtualenv.  Closing.

[2020-03-24 01:33] #17 closed

[2020-03-24 01:33] ssilverm commented on #15
Yep, I got my version working too after the cookie issue was fixed.

[2020-03-24 01:52] ssilverm commented on #15
Your example shows off everything the library can do, I've made a very minimal example just to get through the launch.

[code]

[2020-03-24 12:02] dmitry-viskov commented on #16
done

[2020-03-24 12:02] #16 closed

[2020-03-24 12:04] dmitry-viskov commented on #15
Flask adapter already available in `1.4.0` version: https://pypi.org/project/PyLTI1p3/1.4.0/

[2020-03-24 12:04] #15 closed

[2020-03-30 18:47] shurrey commented on #14
Hi Dmitry. I am already testing with Blackboard and Flask. So far working through the launch. Opening in a new window works fine. Working through launching in an iframe and playing with SameSite and cookies. woohoo. I plan to build a tutorial and check in an example to github.com/blackboard when I am finished. Happy to contribute back the config JSON if that would help.

[2020-03-30 22:29] shurrey commented on #14
So far I have found that it works pretty easily if I open in a new window.

If I serve in an iframe, the state cookie isn't set with SameSite=None or Secure. is_secure() is returning false for that link. For my testing, I have hard-coded to secure and it works.

I have also found one use case in Blackboard where we send an LtiResourceLinkRequest and no ResourceLinkId. Again, for my testing, I have

[2020-03-31 11:55] dmitry-viskov commented on #14
hi @shurrey .

Good news that it is working with Blackboard!

Regarding cookies issue. If you are testing locally (i.e without HTTPS) unfortunately there is no cross browser way to launch your program inside iframe. It is related to [samesite issue in Chrome 80](https://blog.heroku.com/chrome-changes-samesite-cookie). Cookies inside iframe will be set only with `SameSite=None` + `Secure` param. Bu

[2020-03-31 18:33] shurrey commented on #14
Hi @dmitry-viskov Working backwards, it is definitely a bug. My team is responsible for LTI and Caliper at Blackboard and we are actively working on this fix, so shouldn't be long. For now, I just have a fork with the resource link commented out. No changes there for the library. Once we have that fixed, it should work as you have it.

As for the cookie, I am running on a server with SSL and a val

[2020-03-31 19:26] dmitry-viskov commented on #14
hi @shurrey

hmmm, interesting.... how is it possible? there is ordinary `request.is_secure` from Flask: https://github.com/dmitry-viskov/pylti1.3/blob/master/pylti1p3/contrib/flask/request.py#L15
Did i missed something?
What example do you use for testing? is it [pylti1.3-flask-example](https://github.com/dmitry-viskov/pylti1.3-flask-example) or something custom?

[2020-03-31 19:51] shurrey commented on #14
It is based on the flask example. I am doing some custom things, but nothing with the cookies or the state.

[2020-03-31 21:29] dmitry-viskov commented on #14
hi @shurrey

I've investigated the issue and seems that you are using flask test server with the reverse proxy (like nginx) for example. I've [changed](https://github.com/dmitry-viskov/pylti1.3-flask-example/commit/726c727d99e624e60a939c804ffbf6b27eba217a) example a little. Please check. probably now it will work.
Anyway it is not a bug inside library - just misconfiguration on the server side

[2020-03-31 21:36] dmitry-viskov commented on #14
Of course this solution will work only in case if `X-Forwarded-Proto` header is passed from the reverse proxy

[2020-04-06 14:51] ssilverm commented on #2
Thinking more about this, especially now that there is a Flask release,  what about something like this:
Adding `'*:*'` to the deployment json would allow all IDs to pass through.
[code]

[2020-04-07 12:39] shurrey commented on #14
ok, got my project working. I will test the changes today and report back.

[2020-04-07 13:37] shurrey commented on #14
I have to update a bit of configuration to run on heroku, but with that done, I can launch into the game no problem. When it tries to use AGS, it is failing with an invalid timestamp.

[code]
Based on issues I have seen with the REST API, I suspect that it requires the timezone (or Z) at the end of the timestamp.

Testing deeplinking and names and roles next.

[2020-04-07 13:41] shurrey commented on #14
I have to update a bit of configuration to run on heroku, but with that done, I can launch the game in a new window no problem. When it tries to use AGS, it is failing with an invalid timestamp.

[code]
Based on issues I have seen with the REST API, I suspect that it requires the timezone (or Z) at the end of the timestamp.

[2020-04-07 14:16] dmitry-viskov commented on #14
@shurrey the standard `isoformat` is used here: https://github.com/dmitry-viskov/pylti1.3-flask-example/blob/master/game/app.py#L196. It is working fine with Canvas LMS and IMSGlobal certification site. But you may pass here any string value

[2020-04-07 14:59] shurrey commented on #14
When I append 'Z' it works as expected. I can add a check if product_family_code == 'BlackboardLearn', or just add a config option to append_timezone. How would you prefer?

[2020-04-07 15:10] shurrey commented on #14
With that small change, everything works as expected, both in a new window and in an iframe.

[2020-04-10 21:53] #2 closed

[2020-04-10 21:59] dmitry-viskov commented on #14
@shurrey big thanks for your work!

[2020-04-12 06:26] tuluxmu opened #19 "Some question about LTI 1.3"
Hi Dmitry,

I look up the document about LTI 1.3.
When I try to do OIDCAuthorization, I try to call API to https://canvas.instructure.com/api/lti/authorize_redirect, I can't find the specific parameters I should use, and don't know how I generate the parameter `state`.

Could you please spare some time to talk more?
[https://canvas.instructure.com/doc/api/file.lti_dev_key_config.html]
Many thanks,

[2020-04-12 08:45] dmitry-viskov commented on #19
@tuluxmu

https://github.com/dmitry-viskov/pylti1.3/blob/master/pylti1p3/oidc_login.py#L47

[2020-04-12 08:47] #19 closed

[2020-04-23 22:18] dmitry-viskov commented on #12
implemented in version **1.5.0**: https://github.com/dmitry-viskov/pylti1.3/releases/tag/1.5.0

[2020-04-23 22:18] #12 closed

[2020-04-23 22:19] dmitry-viskov commented on #11
partially implemented in version 1.5.0: https://github.com/dmitry-viskov/pylti1.3/releases/tag/1.5.0

[2020-04-23 22:19] #11 closed

[2020-04-30 17:28] dmitry-viskov commented on #13
Some code changes/improvements are presented in the new `1.6.0` version so D2L should works but anyway it need to be tested using real D2L instance

[2020-05-01 15:48] dmitry-viskov opened #20 "Create ToolConfDB based on Django ORM"

[2020-05-04 17:39] dmitry-viskov commented on #20
implemented in version 1.7.0: https://github.com/dmitry-viskov/pylti1.3/releases/tag/1.7.0

[2020-05-04 17:40] #20 closed

[2020-06-15 13:32] libre-man commented on #13
Hi just wanted to give some insight to this: we're currently using our branch (`CodeGra-de:master`) with a brightspace instance, and everything works as expected!

[2020-07-07 09:27] danishyasin33 opened #21 "Facing difficulty integrating with Canvas"
Hi Dmitry,

Thank you for the great work.

However, I am facing difficulty integrating the setup with canvas, specifically in the step 2 of the authentication process.

If I set the auth_login_url our implementation-specific: `https://learn.acehsc.com.au/api/lti/authorize`

Then I get the error `"message":"An error occurred.","error_code":"internal_server_error"`

This is the form data that gets p

[2020-07-07 12:11] dmitry-viskov commented on #21
hi @danishyasin33.

You should use your canvas domain (https://learn.acehsc.com.au as i understand) as part of `auth_login_url`, `auth_token_url` and `key_set_url`.

[2020-07-07 14:30] danishyasin33 commented on #21
Hi @dmitry-viskov,

Thank you for your quick response.

If I try to access the public jwks link with my canvas domain then it results in a `internal_server_error`.

Do you have any idea why that would be? Screenshot attached.
![image](https://user-images.githubusercontent.com/47951155/86796750-586f5d00-c088-11ea-8335-7533001373d5.png)

[2020-07-07 15:10] dmitry-viskov commented on #21
@danishyasin33 looks like misconfiguration of your local canvas instance.
If you check SAAS Canvas: https://canvas.instructure.com/api/lti/security/jwks - this URL doesn't require authorization and working fine. You may check Canvas in Docker and it also working correct: https://github.com/instructure/canvas-lms/wiki/Quick-Start#setup

[2020-07-07 15:24] danishyasin33 commented on #21
I am also of the same opinion.

The hosting provider wasn't being helpful. I am pursuing this with them.

Thank you for your insightful response. I've been scratching my head around this for two days now.

[2020-07-09 08:13] danishyasin33 commented on #21
In this official [guide ](https://github.com/instructure/canvas-lms/blob/182f7411db23750e33cae6d360709f5bbf00fb3c/doc/api/lti_dev_key_config.md#config-in-tool) on canvas' GitHub, they state that the public JWK's URLs are environment-specific and not domain-specific.

They are explaining that the following URL will be used for all cloud hosted canvas instances:

`https://canvas.instructure.com/api/

[2020-07-09 09:42] dmitry-viskov commented on #21
if you using canvas in docker the url is http://docker.host/api/lti/authorize_redirect . If you are using Canvas SaaS the url is https://canvas.instructure.com/api/lti/authorize_redirect. If you are using your ouwn host the URL is http://your.own.host//api/lti/authorize_redirect

[2020-07-09 09:42] #21 closed

[2020-07-14 06:34] danishyasin33 commented on #21
You were right. The issue was with the jwks URL of my canvas instance.

The issue was resolved by copying the original dynamic_settings.yml from the canvas LMS GitHub repository to my own instance.

After this, the JWKs and other URLs started working as intended.

[2020-07-22 12:37] danishyasin33 commented on #21
Hi Dmitry,

So while trying to get the access_token for AGS services, the request to get the access token from my canvas instance is failing.
The code raises an LTI exception with a 500 error with no conclusive error.

So, I extracted the `auth_url` + the `auth_request` data and manually sent a request to my canvas instance by using [API tester](apitester.com).

This results in a more informative

[2020-07-23 12:34] danishyasin33 commented on #21
Nevermind my earlier message.
The issue resolved itself after I replaced the public JWK URL with the pasted JWK in the developer's key.
Canvas is weird.

[2020-08-04 15:24] lsloan opened #22 "define standard LTI role URIs"
It would be very helpful if this module had symbols defined for the URIs of the standard user roles.  Symbols for various other URIs commonly used in LTI support would be helpful, too.

[2020-08-04 15:29] lsloan opened #23 "add functions to check for roles"
I'd like to see functions for `is_instructor()`, `is_teaching_assistant()`, `is_learner()`, etc.  It seems these need to be implemented in each application that supports LTI, so it would be nice to have them as part of this module.

[2020-08-04 15:32] ssilverm commented on #23
This is what we are using in both our Flask and Django apps:

[code]

[2020-08-04 15:33] ssilverm commented on #2
Just want to update you on a response from Canvas - the initial problem I was facing was because originally a deployment id was generated for each course even if installed at the account level.

This has now been fixed on Canvas's side.  Installing it everywhere will only generate one deployment id based on the area you installed it in.

Everything is now working as intended.

[2020-08-04 16:23] libre-man commented on #23
[This](https://github.com/CodeGra-de/CodeGra.de/blob/master/psef/lti/v1_3/roles.py) is what we are using in our app (AGPL-v3 licensed). However, our experience is that the more customizable LMSes (Moodle for example) will use different names for things, and the spec is also pretty lenient in this area. So I don't think that actually adding this to the library is a very good idea.

[2020-08-06 14:32] lsloan commented on #23
Similar thing here.  It seems reasonable that this logic could be part of this module so we all don't need to write the same thing in our applications.  It should be done in an extensible way, so if we have some reason to change the logic for a specific use case, it's easy to do.

This issue is in the same spirit as the other one I opened, #22 (define standard LTI role URIs).

[2020-08-06 14:47] lsloan commented on #23
I like the way you define the base URI and refer to it as part of the other URIs later.

[2020-09-08 18:38] dmitry-viskov commented on #23
hi @lsloan . I've added built-in functions to check user's role after LTI launch:
https://github.com/dmitry-viskov/pylti1.3#check-users-role-after-lti-launch
Here is internal API:
https://github.com/dmitry-viskov/pylti1.3/blob/master/pylti1p3/roles.py

It is basic version. Pull requests are welcome 🙂

[2020-09-08 19:05] ssilverm commented on #23
Heck yeah!  Thanks @dmitry-viskov

[2020-09-22 09:44] #23 closed

[2020-09-22 09:50] dmitry-viskov commented on #22
hi @lsloan
https://github.com/dmitry-viskov/pylti1.3#check-users-role-after-lti-launch
does this change cover your needs or you would like to add something else?

[2020-10-19 20:33] lsloan commented on #22
Yes, it probably would help. My colleague used v1.7.0 of your module to add LTI support to our application.  I see you added that in v1.8.0.  We're currently using checks we've written to search the roles for things like…

[code]

Probably if we upgrade to the latest version of your module, we can simplify our code.

[2020-10-19 21:01] lsloan opened #25 "support public/private key files in `ToolConfDict`"
The `ToolConfJsonFile` class includes support for reading the public and private key files based on the contents of the `public_key_file` and `private_key_file` config properties.  The `ToolConfDict` class, on which it is based, does not.  If the dictionary support class could use those same properties to load the key files, it would allow us to simplify our code.  We currently end up duplicating

[2020-11-10 17:47] ClaytonTurner opened #26 "Detect Transient LTI Launch"
It would be nice if the MessageLaunch class had the ability to detect Transient LTI Launches.

The function could be something like `message_launch.check_transient()`

This is useful for detecting impersonation of users in Learning Management Systems. I believe the role claim comes through as `"http://purl.imsglobal.org/vocab/lis/v2/institution/person#Transient"`.

IMS Information: http://www.imsg

[2020-11-17 15:57] dmitry-viskov commented on #25
hi @lsloan . Sorry for delay.
Could you please explain why you don't use `ToolConfJsonFile` if you store `public`/`private` keys in files?
`ToolConfDict` was designed to present configuration as dictionary. it just provides methods `set_public_key`/`set_private_key` to add keys but by design it should not aware how you store keys. You may store keys in database or get them from the API call. `Tool

[2020-11-17 15:58] dmitry-viskov commented on #22
hi @lsloan . I'll close this issue because seems that the problem is resolved. But PRs are welcome in case of lack something.

[2020-11-17 15:58] #22 closed

[2020-11-17 16:44] dmitry-viskov commented on #26
hi @ClaytonTurner . I've read IMS doc and this feature looks interesting. Do you know where this feature is already  implemented (i mean one of the popular LMS like Canvas, Blackboard, D2L and etc)? Usually I check all LTI features in the Canvas LMS but didn't see this feature there

it would be great. I think to implement this feature we should:

1. Define new role here: https://github.com/dmitry

[2020-11-17 21:30] #14 closed

[2020-11-17 21:58] ClaytonTurner commented on #26
@dmitry-viskov
So I haven't seen this implemented in Canvas or Blackboard. I'm unsure about other major LMS's, to be honest, but I was more trying to get aligned to the spec itself.

Blackboard _should_ be doing this, but instead (in LTI 1.0/1.1 launches I've seen, at least) sends in `_previewuser` in its `custom_person_username` parameter (and potentially in other fields) to signify impersonation

[2020-11-17 22:10] ClaytonTurner commented on #26
Added those changes on a PR here: https://github.com/dmitry-viskov/pylti1.3/pull/27

[2020-11-20 18:41] ssilverm opened #28 "Invalid Nonce with Nginx + uWSGI"
Hey All,

Trying to deploy a Django <-> uWSGI <-> Nginx application using pylti1.3 and whenever I put nginx in front of the application I get an Invalid Nonce error.

It's on AWS, nginx on http, ALB is https doing http-https conversion.

Any thoughts?

It works fine using Django built in server and uwsgi as the http server.

[2020-11-20 23:16] dmitry-viskov commented on #26
@ClaytonTurner thanks for the contribution! In the nearest future i'll release new minor version (1.8.2) with this addition

[2020-11-20 23:17] #26 closed

[2020-11-21 22:44] dmitry-viskov commented on #28
hi @ssilverm .
i think you try to use LTI inside iframe and because of browser restrictions session-id cookie can't be set.
Please see instructions how to avoid this restrictions: https://github.com/dmitry-viskov/pylti1.3#cookies-issue-in-the-iframes

[2020-11-24 20:00] ssilverm commented on #28
Thanks @dmitry-viskov !  Setting up the cache in Django fixed it.

[2020-11-24 20:00] #28 closed

[2020-12-19 12:38] shinsean opened #30 "Grammar errors in documentation"
While reading through the README documentation for this library, I noticed there were a couple of minor grammatical errors that could be fixed to improve documentation readability.

I can detail what errors I noticed and/or make a PR with the corrections.

[2020-12-21 11:50] dmitry-viskov commented on #30
hi @shinsean .

PR are welcome!

Thanks

[2020-12-24 18:58] ForrestPackard opened #31 "Existance of More Extensive Documentation?"
I am trying to learn this library, and am having difficulty understanding parts of it. Is there any further documentation than what was included in the README? Some explanation of the individual classes and important functions would be beneficial to my efforts in understanding this library.

[2020-12-26 21:07] dmitry-viskov commented on #31
hi @ForrestPackard . The goal of the README is to describe public API. I don't see any reason to include somewhere how internal structures works. You may just open code and investigate anything (there is no any magic - it is really simple).
If you need examples - here they are:
Django: https://github.com/dmitry-viskov/pylti1.3-django-example
Flask: https://github.com/dmitry-viskov/pylti1.3-flask-e

[2020-12-26 21:07] #31 closed

[2020-12-26 22:10] ForrestPackard commented on #31
OK, thanks for the reply and the help @dmitry-viskov ! The advise and resources are also much appreciated and I will work to utilize them.

[2021-02-19 07:25] hari1500 opened #34 "LTI consumer"
Can we use this library to create an LTI consumer(like moodle or canvas)? If so then what are the steps to do?

[2021-02-19 08:45] dmitry-viskov commented on #34
@hari1500 please read README

[2021-02-19 08:47] #34 closed

[2021-03-09 16:45] dmitry-viskov commented on #30
Related PR: https://github.com/dmitry-viskov/pylti1.3/pull/36

[2021-03-09 16:47] dmitry-viskov commented on #30
@shinsean thanks for your contribution!

[2021-03-09 16:47] #30 closed

[2021-03-22 19:08] ssilverm opened #37 "Use DB in Flask for Tool Credentials"
Hey Dmitry,

We wrote a small wrapper in our own code to use Flask-SQLAlchemy to pull LTI tool configs from our database rather than the ToolConfJson.  I know it's easier to include it in Django because an ORM is built in.  I would love it we could somehow get it included in the Flask contrib as an optional setting?

[code]

I have no idea how to add this to the library as an optional item though.

[2021-03-24 08:57] dmitry-viskov commented on #37
hi @ssilverm

Thanks for suggestion, but i don't think that any ORM wrapper should be the part of this library.
1. SQLAlchemy could be used with Django too so it is not Flask related thing.
2. As i could see from your snippet it is just model declaration. Nothing special here. So anyone can place this model in its custom code outside of the library.
3. The main goal of the current Django integrati

[2021-03-26 20:29] ssilverm commented on #37
Yep, I figured as much.  I'm adding in DB  tool conf connectivity for our flask apps, and it's been a great way for us to not have to store our credentials in a repo.

Thanks for making such an awesome library!

[2021-04-04 07:47] Aamirsohel opened #38 "Failed to get auth token for NRPS"
Hi @dmitry-viskov ,
I was able to call get_members earlier but now I facing server error in both canvas and brightspace setup.

Here is the payload :

`{'grant_type': 'client_credentials', 'client_assertion_type': 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer', 'scope': 'https://purl.imsglobal.org/spec/lti-nrps/scope/contextmembership.readonly', 'client_assertion': <jwt_val>'}`

Error Me

[2021-04-04 08:02] dmitry-viskov commented on #38
504 Gateway Timeout error

[2021-04-04 08:02] #38 closed

[2021-04-18 09:43] Aamirsohel opened #40 "Sending login request query params in post data"
While permforming a POST login request, i have observed another GET login request with all the post data as query params, Is there any other way to send the query params, I am asking this because our server have request max_length limitation and the query params causes issues.
This happens if .enable_check_cookies() is used for redirection.

First Post request
![image](https://user-images.githubus

[2021-04-18 10:02] #40 closed

[2021-04-18 10:04] Aamirsohel commented on #40
closing it as i believe we dont need the 'cookies related message' for the user, so we can omit enable_check_cookies, so this GET request wont happen

[2021-04-22 12:35] tudesc opened #41 "nonce invalid"
Hi,
I put your demo project in Brightspace.
Somtimes it works, I see the game.hml.  other times , refresh, I get an nonce exception

Do you have any suggestions how to fix this?

Regards, Marcel

[2021-04-22 22:35] dmitry-viskov commented on #41
hi @tudesc

I may assume that you use non-secure HTTP connection. Nonce exception may happen because you use default framework's session mechanism through HTTP. Try to use `cache data storage` instead:
https://github.com/dmitry-viskov/pylti1.3#django-cache-data-storage

[2021-04-23 05:51] tudesc commented on #41
No, i used a secure https connection.

Van: Dmitry Viskov ***@***.***>
Verzonden: vrijdag 23 april 2021 00:36
Aan: dmitry-viskov/pylti1.3 ***@***.***>
CC: tudesc ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [dmitry-viskov/pylti1.3] nonce invalid (#41)

hi @tudesc <https://github.com/tudesc>

I may assume that you use non-secure HTTP connection. Nonce exception may happen because you use defau

[2021-04-23 08:06] dmitry-viskov commented on #41
@tudesc You didn't provide any details / stack traces / steps so unfortunately i don't understand you issue.

I may just assume that you try to refresh LTI page that was opened in the new tab and `nonce` can't be found in session because session cookie becomes invalid and there could be a lot of reasons why it happens.

[2021-04-26 09:51] tudesc commented on #41
When using django-cache-data-storage it work!
Thanks Dmitry

[2021-04-26 09:51] #41 closed

[2021-04-26 12:26] tudesc opened #43 "get grades"
Hi Dimitry,

I have a connection with a brightspace instance and try to retrieve grades.
I now receive a HTTP response [https://auth.brightspace.com/core/connect/token]: 400 - {"error":"invalid_grant","error_description":"Error validating assertion:

I just some code found in your test script.

{{{
    if not message_launch.has_ags():
        raise Exception("Don't have assignments and grades!")

[2021-04-26 12:42] dmitry-viskov commented on #43
hi @tudesc

Unfortunately I didn't test this library with a brightspace so can't say you what is wrong. Looks like some misconfiguration

[2021-04-26 13:11] dmitry-viskov commented on #43
Here is discussion regarding testing in D2L: https://github.com/dmitry-viskov/pylti1.3/issues/13

[2021-05-04 09:28] tudesc commented on #13
Hi libre-man,
Did you manage to read and write grades ?

[2021-05-08 09:08] libre-man commented on #13
I have no idea about reading grades, we don't use that functionality. Writing grades however simply works, no special workarounds were needed for D2L.

[2021-05-12 10:14] #43 closed

[2021-05-12 15:25] dkrame11 opened #45 "AssignmentsGradesService.get_lineitems() needs to account for "next" link"
When calling AssignmentsGradesService.get_lineitems() we're only getting the first 200 Line Items since D2L restricts to returning 200 line items.

from [IMS docs](https://www.imsglobal.org/spec/lti-ags/v2p0/):

The URL for the 'next' link is left to the discretion of the implementer. The tool must use the 'next' URL as is and not re-apply filters to it. The tool platform must thus make sure the '

[2021-05-20 20:14] dmitry-viskov commented on #45
hi @dkrame11 .
Thanks for pointing me to this issue. I'll take a look.

[2021-05-21 20:41] dmitry-viskov commented on #45
PR: https://github.com/dmitry-viskov/pylti1.3/pull/46

[2021-05-24 14:52] #45 closed

[2021-05-24 15:37] dmitry-viskov commented on #45
@dkrame11 new version with bugfix is here: https://pypi.org/project/PyLTI1p3/1.9.1/

[2021-07-09 17:24] joerou opened #48 "Trouble with using nrps and canvas"
Hello,

Awesome package!

I'm using this package with fastapi and am working on an integration with canvas. I am able to launch the tool just fine and also to deep link a resource and launch that - but whenever I try to use one of the "services" such as nrps I am getting the following error
`pylti1p3.exception.LtiServiceException: HTTP response [https://canvas.instructure.com/login/oauth2/token]:

[2021-07-09 17:53] joerou commented on #48
oh I just found if I paste the jwk into canvas rather than use the url then everything seems to work fine...

My fastapi endpoint for the public jwks looks like
[code]

Perhaps I'm missing a header that needs to be set or something?

[2021-07-14 16:24] dmitry-viskov commented on #48
hi @joerou ! Sorry for delay with the answer.
Initially before calling Platform's API LTI tool tries to get access token from the platform if someone tries to use any Advantage service (Names and Roles / Assignment and Grade Services and etc). LTI tool uses private key to encode the auth request message. LTI platform uses one of the available public keys to decode this message. Usually this group

[2021-07-14 17:48] joerou commented on #48
Hello,

No worries about the delay!

I'm not sure if maybe there is another error - my jwks.json is available publicly (https://noodle-case-lb.herokuapp.com/api/v1/.well-known/jwks.json) but seems not to work and when I paste the key in manually it does work. It's a bit weird because it did work with the Saltire testing website but just not with canvas...

I'm also curious if you are planning to m

[2021-07-15 10:25] dmitry-viskov commented on #48
hi @joerou

It looks very odd and seems like a Canvas issue. Did you check requests from Canvas to this JWKS API in the `access.log`? Are they exist?

There was a PR with such adapter: https://github.com/dmitry-viskov/pylti1.3/pull/47 and I described all reasons why it was closed here: https://github.com/dmitry-viskov/pylti1.3/pull/47#issuecomment-853101878
I think we will return to this question

[2021-07-25 16:41] joerou commented on #48
Hey,

Excuses for the late reply. Thanks for the information and that makes sense, I'm happy to assist once you've dropped python 2.7 support if you are interested at that point in a fastapi integration.

I have been working on other parts of the application and haven't tried to pinpoint the source of the error here as I was able to get it working by directly pasting in the public key..

The endpo

[2021-07-29 18:15] bendavis78 opened #49 "Can this library be used to create a consumer?"
Can pylti1.3 be used to create an LTI consumer? I'm looking around for examples of a LTI 1.3 consumer in python but am having trouble finding any.

[2021-07-29 22:21] dmitry-viskov commented on #49
hi @bendavis78

No. This library can be used to built LTI1.3 tool/provider only.

I may recommend to look into this project: https://github.com/edx/xblock-lti-consumer (it is part of the edX open source platform).

[2021-09-16 19:36] vitthalmane opened #51 "Unrecognized message type"
HI @dmitry-viskov
I am doing "Ultra Proctoring Service Integration - IMS Proctoring Spec + UEF " with Blackboard. I have completed all the integration part but when i launch proctoring tool , I get  **https://purl.imsglobal.org/spec/lti/claim/message_type': 'LtiStartProctoring** in the data and due to this getting **pylti1p3.exception.LtiException: Unrecognized message type**.

So can we add this

[2021-09-16 20:11] dmitry-viskov commented on #51
hi @vitthalmane . This feature looks interesting but proctoring is a slightly different thing and not related to LTI 1.3/Advantage directly. As I could see from the documentation implementation of this feature requires significant amount of time and could be implemented sometime in the future but I can't promise any timeline. I'll be happy to review any pull requests and help answer questions if y

[2021-09-22 20:32] vitthalmane commented on #51
Thank you @dmitry-viskov  Thank your for your response. I will let you know if i implemented.

[2021-10-14 00:33] disazoz opened #53 "Error: JWK must contain a "kty" parameter""
Tying to run flask example tool in Moodle. The game loaded successfully, and when JS trying get a score from Moodle, got this error.

127.0.0.1 - - [14/Oct/2021 03:20:09] "**GET /api/scoreboard/lti1p3-launch-adcbe674-c539-46d7-bd71-a88fa3d41a6e/** HTTP/1.1" 500 -
Traceback (most recent call last):
  File "C:\Users\disazoz\AppData\Roaming\Python\Python37\site-packages\flask\app.py", line 2464, in _

[2021-10-19 23:30] disazoz commented on #53
Thanks for the reply.

On the Moodle side I use Keyset URL option and put JWKS URL from PyLTI. Yes, I see, that PyLTI has kty in JWKS.

I just checked setup with manual RSA key on moodle side, and at least there are no `kty` error anymore. But the scoreboard still does not work.

`127.0.0.1 - - [20/Oct/2021 02:25:08] "POST /login/ HTTP/1.1" 200 -
127.0.0.1 - - [20/Oct/2021 02:25:09] "GET /_debug_t

[2021-10-29 21:32] carpiodanielj commented on #51
Same issue here, do you have any update on this? thanks

[2021-11-03 22:12] mark-b-kauffman commented on #51
For those of you asking Dmitri about proctoring, the only implementation that I've seen to date of the IMS proctoring specification is written in Node.js, available in Blackboard's own git repository. https://github.com/blackboard/BBDN-LTI-Tool-Provider-Node You will need to study that specification, https://www.imsglobal.org/spec/proctoring/v1p0 and the code and re-write it in Python. Once done,

[2021-11-04 21:50] mark-b-kauffman commented on #51
See my reply here - https://community.blackboard.com/discuss/viewtopic/80/6476?utm_source=community.blackboard.com&utm_medium=email&utm_campaign=website If you have further questions, please send to developers@blackboard.com This space is for communicating about issues with pylti1.3 library. Proctoring currently has nothing to do with the pylti1.3 library. Thank you.

[2021-11-07 04:59] Jack-2025 opened #54 "Unable to link a programmatic grade"
Hello everyone,

I wanted to confirm whether this an issue with pylti1.3 or if I'm missing something, when adding multiple assignment grades through the LTI Assigments and Grades Services with the programmatic mode active, rather than the declarative/default grading mode.

I'm able to register and read back grades (line items) into the LMS.  But none of them are registered as the actual score on t

[2021-11-08 14:41] dmitry-viskov commented on #54
hi @Jack-2025

To be honest i don't understand what it the difference between "programmatic" and "declarative" grading modes from your message but as i understand you've asked how to send grades into correct gradebook endpoint of the external LMS, right?

To implement this you need only two things: `lineitem ID` and `external user ID`. And both of them could be retrieved from the LTI initial launc

[2021-12-03 22:53] carpiodanielj commented on #28
Hi @ssilverm . I'm facing the same issue but in my case I'm using a Flask + Gunicorn app that is running with Docker and deployed on AWS EC2 with NGINX as web server. The code for the app is in this url [https://github.com/blackboard/BBDN-UEF-Python](url)
When I tested the code using ngrok [https://ngrok.com/](url) pointing to my localhost everything is working fine, but when I tested on EC2 with

[2021-12-03 23:12] dmitry-viskov opened #56 "Drop Python 2.7/3.5 support, code refactoring (typing and etc)"

[2021-12-09 15:18] pepeciavirella opened #58 "Support access token retrieval from Moodle LMSes"
Hey! I was just debugging through the `get_access_token` method of the `ServiceConnector` class and saw it expects successful (2xx or 3xx) responses to contain an `"access_token"` claim: https://github.com/dmitry-viskov/pylti1.3/blob/476556aa5b13da20be591b6aea4b4f61b85ea8fe/pylti1p3/service_connector.py#L87

I was recently working on an integration with a Moodle-based LMS, and realized that APIs f

[2021-12-10 12:23] dmitry-viskov commented on #58
hi @pepeciavirella
This looks odd because `access_token` is default naming. Have you already faced with the `KeyError` ? In my case I haven't ever faced with troubles in the integration with Moodle using `pylti1p3`

[2021-12-10 17:54] pepeciavirella commented on #58
Hi!

Not _actually_, I haven't faced it at Moodle, but I've seen logs of an app I work on that experienced the `KeyError` on a Canvas integration (which is even more weird since its spec denotes an `"access_token"` return claim here); but I'd consider that an isolated case, it happened only once and it was a month ago.

Let me try triggering this retrieval at a Moodle integration once again, and s

[2021-12-13 13:03] pepeciavirella commented on #58
Hey @dmitry-viskov, I did some testing and I can state that `ServiceConnector`'s `get_access_token` **does work correctly** for Moodle instances. To sum it up, somehow I got the `/login/token.php` endpoint as OAuth Token URL configuration for the interface with one of those Moodle instances, but that endpoint has a different purpose: it's used to get access tokens **for Moodle's REST API**.

The a

[2021-12-14 08:45] dmitry-viskov commented on #58
@pepeciavirella thanks for investigating this issue!

[2021-12-14 08:46] #58 closed

[2022-01-24 14:38] Alain1405 commented on #54
@dmitry-viskov edx assumes that `resourceLinkId` exists and has a check for it in order to submit grades from `LTIAgsScore`
https://github.com/openedx/xblock-lti-consumer/blob/582597a6a7fa758be5b1a32511c4f8acd116394b/lti_consumer/signals.py#L30

If we create a PR to fix it, will you consider it?

[2022-01-24 16:29] NaurizAitbai opened #61 "Canvas LMS: Must have an active user session"
Hello. I have an LTI project with pylti1.3. And I have fresh installed Canvas LMS. It works on Firefox, but not working on Chrome.

![image](https://user-images.githubusercontent.com/10123805/150823055-88dea7b8-3c5e-46fa-8982-5e11d9ab2f08.png)
![image](https://user-images.githubusercontent.com/10123805/150823196-c15633e2-c7fb-46c2-870b-a90e975ecb31.png)
![image](https://user-images.githubuserconte

[2022-01-24 16:30] ssilverm commented on #61
I've seen this error before on self hosted canvas installs.  Happening to me too.  No idea how to fix it though.

[2022-01-24 18:12] NaurizAitbai commented on #61
@ssilverm I fixed the problem by adding secure: true in session_store.yml. And this will automatically add Secure;SameSite=None to normandy_session.

But is this only solution?

[2022-01-24 19:26] ssilverm commented on #61
@NaurizAitbai You are a life saver.  That fixed my system.  It's now working in Chrome for me after doing that.

On my machine I don't use Dory/Dinghy

This is what I do when I build Canvas after switching to stable branch:
# Say no to dory, yes to everything else
./script/docker_dev_setup.sh

# Add the domain you want to use to the VIRTUAL_HOST env var
# and ports to Web Service in docker-compose

[2022-01-26 15:57] Alain1405 commented on #54
@Jack-2025 can you check if #62 fixes it for you?

[2022-01-29 05:16] Jack-2025 commented on #54
@Alain1405 and @dmitry-viskov, thanks for your support!

@Alain1405 I applied the PR and modified the code in my original post to include this for both grade posts:
[code]

I should mention, I'm also using open edx with programmatic grading enabled.  @dmitry-viskov by programmatic grading I mean the mode where the tool is in charge of creating the line items, whereas for the declarative mode the L

[2022-01-29 12:49] Alain1405 commented on #54
Here is the explanation of Declarative VS Programmatic Grades from edX Consumer at https://github.com/openedx/xblock-lti-consumer/blob/582597a6a7fa758be5b1a32511c4f8acd116394b/docs/decisions/0005-lti-1p3-score-linking-improved.rst

[2022-01-31 17:32] martinzugnoni opened #63 "Correct "auth_login_url" for Moodle"
I'm struggling to find the correct value for "auth_login_url" using Moodle. Can you provide some guidance? Thank you.

[2022-01-31 17:33] martinzugnoni commented on #63
It's the OIDC redirect URL after successful login. Examples provided here (but Moodle is missing): https://github.com/dmitry-viskov/pylti1.3-django-example/blob/master/configs/game.json#L5

[2022-02-02 05:19] hmoffatt commented on #53
I have this issue too. The problem is that the flask demo app is returning the keys in a 'keys' object in the /jwks endpoint rather than directly.

The fix to game.py is is

[code]

[2022-02-09 17:04] Alain1405 opened #64 "Grade not sending comment"
Grade allows to add a comment, but when the grade is sent it is converted to dictionary but the comment is left behind.

Here is where the grade is "serialised" https://github.com/dmitry-viskov/pylti1.3/blob/476556aa5b13da20be591b6aea4b4f61b85ea8fe/pylti1p3/assignments_grades.py#L62 and the comment field is not there https://github.com/dmitry-viskov/pylti1.3/blob/476556aa5b13da20be591b6aea4b4f61b8

[2022-02-09 17:19] Alain1405 commented on #64
A simple fix such like https://github.com/strata-kk/pylti1.3/pull/2 works on edX. Grade comments are correctly stored on the consumer.

[2022-02-11 05:45] hmoffatt opened #66 "service connector decodes body as JSON even if content-type is not JSON"
the ServiceConnector.make_service_request() method decodes the body as JSON regardless of the content-type of the response.

The LTI basic outcome service returns XML, which of course fails to decode as JSON.

[2022-02-11 06:10] hmoffatt opened #67 "allow caller to set HTTP User-Agent"
It would be useful to be able to provide custom HTTP headers, in particular User-Agent. Possibly the caller could provide an optional Requests session object to use.

We have seen LMSs use content filters that block requests with a User-Agent of 'python-requests'.

[2022-02-12 00:35] dmitry-viskov commented on #66
@hmoffatt despite the fact that the documentation does not describe one specific `Content-Type`  I haven't ever faced with the LMS-es that uses `Content-Type` different from `application/json`. In case if you want to use other Content-Type you may try to redefine `MessageLaunch`/`ServiceConnector` classes with updated methods

[2022-02-12 00:40] dmitry-viskov commented on #67
@hmoffatt hi. ok, i'll consider this feature in the future releases.

[2022-02-12 04:00] hmoffatt commented on #66
The basic outcomes service uses XML. It's an old LTI 1.1 service but updated to be used with LTI 1.3 security in the latest update. https://www.imsglobal.org/spec/lti-bo/v1p1

My proposal is that make_service_request() just be changed as follows:

[code]

to

[code]

[2022-02-12 05:59] afeld commented on #2
Dropping in here to say that I'm working on a Tool that is free, and thus we don't care what deployment is using the site. Therefore, this workaround was perfect 👍

[2022-02-14 05:25] hmoffatt commented on #63
It's `https://<root>/moodle/mod/lti/auth.php`. After you add the tool in Moodle, click the info button and it'll show you all the URLs along with the allocated client ID and deployment ID.

[2022-02-14 05:27] hmoffatt commented on #48
Same as #61 . There is an error in the JWKS endpoint in the Flask demo.

[2022-02-14 05:30] hmoffatt opened #68 "AGS find_or_create_lineitem does not check scopes"
`AssignmentsGradesService.find_or_create_lineitem` does not check its scopes before making the service call to create a new lineitem. On Moodle the user can configure the tool to access to put scores to the default line item but not to create new lineitems.

[2022-02-15 04:33] hmoffatt opened #69 "AGS put_grade with no line item raises missing tag exception"
You can call put_grade() without a line item, and if none is provided in the message launch data, it will try to create one: https://github.com/dmitry-viskov/pylti1.3/blob/476556aa5b13da20be591b6aea4b4f61b85ea8fe/pylti1p3/assignments_grades.py#L49-L53

However, the one it creates has no tag, so find_or_create_lineitem raises an exception: https://github.com/dmitry-viskov/pylti1.3/blob/476556aa5b13

[2022-02-16 23:39] afeld opened #70 "support Dynamic Registration"
Just learned about [this new spec](https://www.imsglobal.org/spec/lti-dr/v1p0) that will make registration much easier — would be great to have support in this package. Thanks!

[2022-02-16 23:46] hmoffatt commented on #70
Moodle supports this, which will help with testing. I have not seen support in any other LMS I've tried yet (Canvas/Blackboard/Schoolbox).

[2022-02-17 00:08] afeld commented on #70
Just learned it's [supported in Brightspace](https://brightspacecommunity.force.com/s/article/Brightspace-Platform-April-2021-20-21-4-Release-Notes) as well.

[2022-02-17 00:11] hmoffatt commented on #70
I'd argue it's almost essential given how much more complicated the LTI 1.3 setup is than 1.1. Although Blackboard has taken an interesting approach with their centralised registration.

[2022-02-17 04:07] hmoffatt opened #71 "override redirect_uri"
The OIDCLogin.redirect() method takes the launch_url as a parameter, but get_cookies_allowed_js_check() always uses the target_link_uri from the original request rather than the launch_url passed.

I have multiple launch URLs in my application including some with parameters, but OpenID Connect security requires the redirect URIs to be whitelisted in at the OP (LTI tool) and must match exactly (no

[2022-02-17 05:33] hmoffatt commented on #71
Sorry, this is wrong. It works OK if I just change the URL in the .redirect() call.

[2022-02-17 05:33] #71 closed

[2022-02-23 23:47] mschwaig commented on #53
I also tried to get the flask example project to work with Moodle the first error that I ran into had Moodle complain about something along the lines of (googled it because I can't reproduce it now without a fresh Moodle)
[code]

That one was resolved by what @hmoffatt wrote above (thanks). i made a PR with that change (https://github.com/dmitry-viskov/pylti1.3-flask-example/pull/14) in the flask

[2022-02-24 01:05] hmoffatt commented on #53
@mschwaig the second issue might be https://github.com/dmitry-viskov/pylti1.3/issues/68, which is that the library does not check it has access to create line items before trying it.

[2022-03-28 11:00] perllaghu opened #73 "Seeking clarification on the django login process, and nonces"
I have a [I think] sane django app... the service has been running for a few years, and happily uses both LTI 1.1 and SAML2 based authentication.

For reference: Django 3.1.13, running in a kubernetes cluster.

I'm now adding LTI 1.3 authentication, and my `launch` process was failing.

I believe I've narrowed it down to the `login` process not setting a _nonce_ ... for the `launch` process to the

[2022-04-01 06:52] perllaghu commented on #73
I needed to switch to using a database-cache for the django app.

I can't tell you if the problem is kubernetes related, or proxy-related... either way: switching the cache fixed my problem

[2022-04-01 07:11] hmoffatt commented on #73
Now that you mention it I had the same problem (though I use Flask). I use gunicorn with multiple workers. Without a proper cache configuration the cache is not shared between workers, so requests fail unless they happen to hit the same worker.

[2022-04-05 13:43] martinsam commented on #63
From Moodle ( 3.11 ) after configure a tool manually :

Url : /moodle311/mod/lti/toolconfigure.php

click on the icon
![Capture d’écran 2022-04-05 à 15 31 53](https://user-images.githubusercontent.com/34697/161767164-a1771767-f65b-4903-a84a-b9302b19f7e2.png)

It should look like this :

![Capture d’écran 2022-04-05 à 15 31 11](https://user-images.githubusercontent.com/34697/161767409-4960d310-

[2022-04-05 14:16] martinsam opened #74 "Compatibility with Moodle"
After many tries I still don't understand the problem between Moodle and pylti1.3.
I able to manage LMS moodle 3.11 with LTI plugin WP, LTI handshake is good.

 Add LTI Advantage : _I use "auto registration/configuration" when everyone is compatible it is happiness. This is not the case of Pylti1.3, but not blocking._ -> _You have understood this mechanism saves time and avoids filling out a form

[2022-04-05 14:56] martinsam commented on #74
Moodle would not be compatible with the GET method used by pyLti ?

[2022-04-05 21:17] hmoffatt commented on #74
I use this module with Moodle ok. Check your Moodle logs, it might tell you why the request is invalid.

[2022-04-06 08:07] onemenzel opened #75 "Django 4.0"
Django 4.0 removed ugettext and ugettext_lazy, which has been deprecated since Django 3.0. There is a [patch available here](https://github.com/aspiredu/pylti1.3/commit/9ab89dd50190d5d0c0ed84dfea84549a4dd7acf1
) but a PR has not been issued yet.

Could you integrate this?

[2022-04-06 09:01] onemenzel commented on #70
I implemented dynamic registration successfully with the help of this very useful resource: https://moodlelti.theedtech.dev/dynreg/

Here's my implementation. It's not beatuful but it works and I hope it may help somehow for people trying to implement this right now.

[2022-04-07 12:27] perllaghu commented on #74
I've also got it working - between moodle and a django app as the `tool`.

I have three _communications_ between moodle & my tool:
* a `POST` call to _login_
* a `GET` call to _login_
* a `POST` call to `launch`

I've also got it working with either the public key hard-coded in the moodle-conf, or with the _jwks_ call

Moodle is configured thus:
[code]

[2022-04-07 13:19] perllaghu opened #76 "how to test a `launch` function"
I've a working system - I can connect from a test moodle to my tool - and now I want to add a test for the code.

My test code starts:

Overall imports
[code]

There are a whole suite of tests for the `ToolConfMyApp` functions: `check_iss_has_one_client`, `check_iss_has_many_clients`, `get_public_key`, `get_iss_config`, etc...

I've even got `POST` and `GET` tests for _login_ - and test the parame

[2022-04-07 13:42] martinsam commented on #74
After looking at the moodle errors I realized that I had entered the wrong url for "Redirect URL" in Manage tools.
`/launch `and not "`/login" `...

Side Python :
`"deployment_ids": ["24"] `and  not `"deployment_ids": [24]`

[2022-04-07 13:44] martinsam commented on #74
I have a last "not" blocking error

Python Side  (GET- 500) :
LtiException at /api/scoreboard/lti1p3-launch-72d49269-5020-4e10-ad4a-404e09f6d528/

Missing required scope

[2022-04-07 14:08] perllaghu commented on #74
I haven't implemented the scoreboard code - I think it's `game` specific.

Have you seen these - I think they drove the php code from which the python stuff was inspired:

[LTI Spotlight: Build A Tool With Martin Lenord—Part 1 - LTI 1.3 Launch](https://www.youtube.com/watch?v=fI-rhSSDU8M)
    [LTI Spotlight: Build A Tool With Martin Lenord—Part 2 - Deep Linking Capabilities](https://www.youtube.co

[2022-04-20 12:59] cesdperez commented on #74
I'm trying to achieve what you guys achieved, but I'm getting this error:

[code]

And I can't figure out if it's a configuration issue or a networking issue with Docker (running both this project and moodle with Docker on Mac).

This is what I added to game.json:
[code]

This is my config in Moodle:
[code]

I'm trying all sort of combinations but still can't make it work. I'd appreciate if you ca

[2022-04-20 14:04] martinsam commented on #74
Good Config in MOODLE :

- Tool URL: http://127.0.0.1:9001/launch/
- Public keyset: http://127.0.0.1:9001/jwks/
- Inititate login URL: http://127.0.0.1:9001/login/
- Redirection (URI(s)): http://127.0.0.1:9001/launch/

[2022-04-21 14:37] #75 closed

[2022-04-22 12:22] cesdperez commented on #74
For the poor soul may stumble upon this with the same problem.

I made it work with @martinsam configuration pattern (thanks!), and on top of that I had to do a few things:

Because I'm running both this service and moodle on Docker (in the same network), this is how my game.json looks like:
[code]

Notice for some URLs I use `localhost` (these are browser->container) and for others `moodle:8080`

[2022-05-20 05:15] afnan opened #79 "504- Gateway Timeout"
I am constantly getting Gateway Timeout. When same request is performed by another tool to same url with same parameters it succeeds.  I am on python 3.8

Success Using Insomnia
![image](https://user-images.githubusercontent.com/2023923/169455300-354501bb-fe5a-4d38-be8f-b0f782382c3d.png)

Exception in the code
![image](https://user-images.githubusercontent.com/2023923/169455352-7b00c26e-042e-401f-

[2022-05-20 05:33] hmoffatt commented on #79
It looks like the Blackboard jwttoken endpoint returned the 504. You could compare the data that is sent when it works versus when it doesn't. But it may just be their issue.

[2022-05-20 05:46] afnan commented on #79
Thats the thing. The data is same but one request is sent from the library and another one from Insomnia

[2022-05-20 05:57] hmoffatt commented on #79
developer.blackboard.com has 6 different IPs, so you could be hitting a different server. Also, are all the headers the same?

[2022-05-20 06:10] afnan commented on #79
Wrote a simple python program and provided it the same data that library is sending to the same url and failing. The demo program works like charm. Here is the screenshot
![image](https://user-images.githubusercontent.com/2023923/169463984-d9987fcb-bfe6-4e70-8e0a-591c1f347726.png)

[code]

[2022-05-20 06:29] hmoffatt commented on #79
What about the HTTP headers then?

[2022-05-20 08:44] TarasPetrenk opened #80 "put_grade error 401"
Hey

My name is Taras
We faced with the issue described below:

We have a problem with the tool service.
For example, we have the service "IMS LTI Assignment and Grade Services" in your library is a method "put_grade" this method makes a query "https://learn.catalynk.net/mod/lti/services.php/7/lineitems?type_id=3" in order to see line-items in the log this query returns 401

![image](https://user-

[2022-05-20 23:47] afnan commented on #79
Well, I have tried different headers. The mind-boggling thing for me is why the same line of code that works in a separate file does not work in the library. The only thing that could be if requests is being modified somewhere in the library. I could be wrong though but still trying to isolate the problem

[2022-05-21 00:08] hmoffatt commented on #79
You could have cookies or headers set in a requests session that are different/absent in the test code.

[2022-05-21 02:00] afnan commented on #79
That is what I am thinking. However, I could not find anything like that. This is the line where the program gets 504 https://github.com/dmitry-viskov/pylti1.3/blob/7474685aecc35d528b944caf05b28ea66ac6d204/pylti1p3/service_connector.py#L82

I will try to import requests as something else just to isolate it.

[2022-05-31 13:15] cesdperez opened #83 "Issue with JWKS"
Hi,

I have an LTI 1.3 tool that I'm connecting to different LMSes for launching a webpage and then reporting grades back.

On the LMS side, you can usually set up either a JWKS URL or a public key for the tool connection.
If I set up the public key in pem format everything works fine. If instead I set up a JWKS URL, I get 400 errors when reporting a grade back to the LMS (tested with Avendoo and

[2022-06-05 20:46] robertasilvano opened #84 "SSL issue"
Hi from Brazil!

I really dont have any experience with servers and security, but following some tutorials I managed to make work a xampp server, where my moodle instance is running with a self generated certificate, to test my Tool, that it is also running with a self generated certificate. But i am facing some problem with the SSL part during the launch flow, in these routes:

[code]

During the

[2022-06-06 07:59] hmoffatt commented on #84
I think the problem is from requests rejecting the self-signed certificate on your Moodle instance.

See for example https://stackoverflow.com/questions/30405867/how-to-get-python-requests-to-trust-a-self-signed-ssl-certificate on how you can set an environment variable to tell requests how to trust your cert.

Or just get proper certificates from LetsEncrypt.

[2022-06-07 00:05] hmoffatt commented on #83
Sorry this won't help much, but I've based my app on the Flask example and I've successfully reported grades to Canvas, Moodle, and Blackboard and I'm only ever using JWK URLs.

[2022-06-07 18:11] cmurtaugh commented on #80
I get the same error with Canvas.

[2022-06-08 06:26] hmoffatt commented on #74
If there is no issue left perhaps you could close this @martinsam ?

[2022-06-08 06:27] hmoffatt commented on #80
Possibly same as https://github.com/dmitry-viskov/pylti1.3/issues/68

[2022-06-08 07:39] #74 closed

[2022-06-08 13:31] cmurtaugh commented on #80
I've granted all of the scopes on the Canvas end, so I'm not sure that this is the same as #68. I feel like I'm missing something regarding the key configuration. In all other LTI 1.3 setups I've seen, the tool vendor needs the key generated by Canvas (in step 3 [here](https://github.com/dmitry-viskov/pylti1.3/wiki/Configure-Canvas-as-LTI-1.3-Platforml) it would be accessed by clicking the "Show K

[2022-06-08 16:27] cmurtaugh commented on #83
@hmoffatt are you able to share any details of how you configured your tool to work with Canvas? I'm running the Django sample app and it seems that all calls to LTI Advantage services are failing with a "401 user authorization required" error from Canvas.
I've added some logging and I can see that the requests to the service endpoints (`/api/lti/courses/18003/names_and_roles` and `/api/lti/course

[2022-06-08 16:30] cesdperez commented on #83
The app has the correct LMS keys setup because if I setup the public key (instead of jwks URL) on the LMS, it works.
Thanks for your reply anyway.

[2022-06-08 16:57] cmurtaugh commented on #83
I actually found that my problem was related to a known issue with Instructure-hosted `test` and `beta` instances; in order for LTI Advantage services to work in those instances you need to enable student access to test and beta.

Instead I installed my sample tool in our Instructure-hosted production instance and it works fine there.

Some details [in this thread](https://community.canvaslms.com/

[2022-06-08 23:04] hmoffatt commented on #83
Aha. I'm testing with a self-hosted Canvas so I didn't see this issue. (I only have access to the free hosted Canvas, and it doesn't allow for site admin access and hence LTI 1.3 can't be used.)

[2022-06-12 17:49] robertasilvano commented on #84
Oh, i see! thank u so much!

[2022-06-12 17:49] #84 closed

[2022-06-14 19:51] cmurtaugh opened #85 "Support for Resource Link Membership Service"
According to the IMS spec, we can include a `rlid=<resource_link_id>` parameter in calls to the NRPS and the LMS will include an extra `message` block for each user which includes custom variables:
https://www.imsglobal.org/spec/lti-nrps/v2p0#resource-link-membership-service

I'm trying to figure out if pylti1.3 supports this already, or what changes would be needed in order to add support. @dmitr

[2022-06-21 07:49] TarasPetrenk commented on #80
I started writing in the existing line but a new error appeared.
![image](https://user-images.githubusercontent.com/101317402/174744091-2eb229cc-604d-44ba-a7e3-e7a9871a22b0.png)
You may know how to disable or bypass Mod_Security rules.

[2022-07-01 15:34] carpiodanielj opened #87 "Missing Roles Claim"
Hi everyone.
I'm working with the version 1.7.0 and the folllowing exception is showing in log, causing the application returns "500 Internal Server Error".

I've decoded the JWT token and found that attribute "https://purl.imsglobal.org/spec/lti/claim/roles" in JSON has an empty array (check bellow image). In other cases this attribute should contain one item at least, but in this case there is n

[2022-07-05 22:17] carpiodanielj commented on #87
@dmitry-viskov I've sent an email with the possible solution of this issue. Please could you check it and comment.

Thanks in advance.

![image](https://user-images.githubusercontent.com/13338743/177426284-2873893a-4078-4a9b-9b26-1ddd39fc3012.png)

[2022-07-07 18:04] gracewhitney commented on #85
I second this request.

[2022-07-14 15:55] martinzugnoni opened #88 "Question about JWKS endpoint in multi tenant application"
Hello team,

I have a conceptual question I'd like to double check with you.

We are doing a multi tenant app (multiple accounts creating their own LTI integrations) and each tenant will have its own Tool config and key objects in Django database.

I'm using this code for the `/jwks` endpoint:

[code]

When I call the endpoint I get the whole list of public keys, for all tenants in the system.

[c

[2022-07-22 08:01] hmoffatt commented on #63
Please close this if resolved.

[2022-07-22 08:07] hmoffatt opened #89 "cache service connector tokens and respect expiry time"
`ServiceConnector.get_access_token` caches access tokens within the ServiceConnector object in case of repeated service calls, but firstly it doesn't handle them expiring, and secondly it would be useful to be able to store these in the cache and use them across instances, if still valid.

[2022-07-22 11:58] martinzugnoni commented on #63
Thank you

[2022-07-22 11:58] #63 closed

[2022-07-25 04:20] hmoffatt opened #90 "public key cache is unsafe"
The `MessageLaunch` class has the ability to cache public keys, with a fixed expiry time.

D2L appears to expire their keys approximately hourly, if you look at https://partners.brightspace.com/d2l/.well-known/jwks . They set the HTTP cache headers to indicate that the JWKs should not be cached (`cache-control: no-cache, no-store`). So an application using the public key cache might keep using an

[2022-07-27 05:29] hmoffatt commented on #80
@TarasPetrenk your error is from your WAF (mod_security) blocking the request.

[2022-08-19 15:25] dkrame11 opened #95 "Need to account for multiple pages during service requests"
During service requests like `LineItem.find_or_create_lineitem()` we often have new `LineItems` created since the request only gets the first 50 and doesn't check if theres a next page.

[2022-08-20 00:01] hmoffatt commented on #95
It should continue with subsequent pages - see find_lineitem and get_lineitems here: https://github.com/dmitry-viskov/pylti1.3/blob/7474685aecc35d528b944caf05b28ea66ac6d204/pylti1p3/assignments_grades.py#L110

[2022-09-02 20:53] #85 closed

[2022-09-05 23:00] dmitry-viskov commented on #89
@hmoffatt

Usually `ServiceConnector` instance (together with token) recreates on each request so there is no need to check expiration because in such case we may trust to external platform + usually ordinary request longs no longer than few seconds (ideally no longer than 0.1-0.2sec) so there is no need in such validation.
Problems could be in case of using instances in daemon mode but can't imag

[2022-09-06 21:41] dmitry-viskov commented on #64
FIxed

[2022-09-06 21:41] #64 closed

[2022-09-06 22:05] dmitry-viskov commented on #67
done

[2022-09-06 22:05] #67 closed

[2022-09-06 22:06] dmitry-viskov commented on #67
https://github.com/dmitry-viskov/pylti1.3/commit/cd20df3a1a1f4748f20f8fb22d8eeb8760454732

[2022-09-06 22:07] dmitry-viskov commented on #90
closed because solution is implemented here: https://github.com/dmitry-viskov/pylti1.3/commit/cd20df3a1a1f4748f20f8fb22d8eeb8760454732

[2022-09-06 22:08] #90 closed

[2022-09-06 22:59] hmoffatt commented on #90
I think it would be helpful to document the risk of the included public key cache functionality.

[2022-09-08 23:18] dmitry-viskov commented on #69
I've made small refactoring of AGS.
I don't see any issues in such behaviour when `lineitem` is created automatically. But I agree that it could be unexpected in some cases. So signature of function was changed to
`def put_grade(self, grade, lineitem=None, create_default_lineitem=True)`
You may control `lineitem` creation using last param.
Also I've removed such behaviour in `def get_grades(self,

[2022-09-08 23:27] dmitry-viskov commented on #69
`missing tag exception` was fixed

[2022-09-08 23:27] dmitry-viskov commented on #68
Was fixed in AGS refactoring

[2022-09-09 06:29] hmoffatt commented on #89
I was thinking of the case where you need to update a lot of grades at once. You don't want to re-create the service connector for every grade because then it will request a new token each time, but also if you keep the token too long it may expire.

[2022-09-10 22:35] dmitry-viskov commented on #87
@carpiodanielj fixed in the new `1.12.0` version: https://pypi.org/project/PyLTI1p3/1.12.0/

[2022-09-10 22:35] #87 closed

[2022-09-10 22:36] dmitry-viskov commented on #68
Fixed in the new `1.12.0` version: https://pypi.org/project/PyLTI1p3/1.12.0/

[2022-09-10 22:36] #68 closed

[2022-09-10 22:42] dmitry-viskov commented on #69
Sorry, I decided that `Explicit is better than implicit` and removed `create_default_lineitem=True, default_lineitem_tag='default'` temporary arguments. So now if there is no passed/connected `lineitem` library will raise an Exception: `Can't find lineitem to put grade`. So an exception still takes place but with the other `message text`

[2022-09-10 22:42] dmitry-viskov commented on #69
Updated in the new `1.12.0` version: https://pypi.org/project/PyLTI1p3/1.12.0/

[2022-09-10 22:42] #69 closed

[2022-09-20 21:43] carpiodanielj commented on #87
Really thank you @dmitry-viskov

[2022-10-11 08:51] afnan commented on #79
BB expects url encoded which it is sending. Tried couple of other headers
but no joy

On Fri, 20 May 2022, 4:29 pm Hamish Moffatt, ***@***.***>
wrote:

[2022-10-12 11:08] afnan commented on #79
Just an update. The issue was not the library but the threads. When the request was made BB went out to check jwks and since the server thread on my dev server was a single threaded instance it timed out. Running with gunicorn and 4 threads solved it.

[2022-10-12 11:08] #79 closed

[2022-11-20 23:54] dmitry-viskov commented on #56
done in `2.0.0`

[2022-11-20 23:54] #56 closed